.dialog {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    display: flex;
  }
.circle {
  width: 34px; /* задаете свои размеры */
  height: 34px;
  border-radius: 50%; /* не забываем о кроссбраузерности */
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -khtml-border-radius: 50%;
  }
  .textformat{
    white-space: pre-line;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}
.btn {
  margin: 20px;
  padding: 5px;
  background: none;
  color: teal;
  border: 1px solid teal;
  border-radius: 7px;
  transition: 0.6s linear;
}

.btn:hover {
  background-color: aqua;

}
form {
  display: flex;
  flex-direction: column;
}

html {
  
}

  